
.header
   .header-item1
      img(class="header-item1_logo-sh" alt="logo" src="images/logo.svg")
      img(class="header-item1_logo-ellips" alt="logo" src="images/ellips.svg")
      img(class="header-item1_logo-vector" alt="logo" src="images/vector.svg")
      img(class="header-item1_logo-text" alt="logo" src="images/shopy.svg")
   .header-item2
      a(href='javascript:void(0)' class='header-item2__link' target='_blank') Home
      a(href='javascript:void(0)' class='header-item2__link' target='_blank') Products
      a(href='javascript:void(0)' class='header-item2__link' target='_blank') Hot Deals
      a(href='javascript:void(0)' class='header-item2__link' target='_blank') About
      a(href='javascript:void(0)' class='header-item2__link' target='_blank') Contact

   .header-item3
      a(class="header-item3__icon-search" href='javascript:void(0)' )
      a(class="header-item3__icon-user" href='javascript:void(0)')
      a(class="header-item3__icon-cart" href='javascript:void(0)')
      img(class="header-item3__icon-bg-counter" alt="icon" src="images/bg-counter.svg")
      img(class="header-item3__icon-counter" alt="icon" src="images/counter.svg")



