.product-card{
	display:flex;


	&-item2{
			font-family: 'Ubuntu', sans-serif;
			
			&__header{
					font-size: 52px;
					font-weight: 900;
					color: #ff5912;
					text-transform: uppercase;
					padding-bottom: 4%;
					margin-top:100px;
		  }
			&__name-product{
					color: #3c4751;
					font-size: 18px;
					line-height: 30px;
					padding-bottom:2%;
		  }
			&__description{
					color: #495662;
					font-size: 16;
					font-weight: 400;
					line-height: 30px;
		  }
			&__description2{
					color: #495662;
					font-size: 16;
					font-weight: 400;
					line-height: 30px;
					padding-right:29%;
		  }
			&__hr{
					background-color: #edeff1;
			
					height: 1px;
					margin-top:40px;
					margin-bottom:40px;
					border:0;
					margin-right:15%;
		  }
			&__information{
				margin-right:15%;
					color: #34404b;
					font-size: 18px;
					display:flex;
					justify-content: space-between;
					&_choose{
							margin-left:10%;
					}
					&_text{
						text-align: left;
					}
				
				
					&_button{
							border:0;
							font-size: 14px;
							background: white;
							margin-right:10px;
							margin-left:10px;
							&:hover{
									font-size: 18px;
									color: #ff5912;
									transform: scaleX(1.0024);
						  }
				  }
					&_number{
							margin-right:10px;
							margin-left:10px;
							color: #ff5912;
							font-size: 18px;
							margin-top:2px;
				  }
		  }
			&__information2{
				margin-right:15%;
					display:flex;
					margin-bottom:120px;
					justify-content: space-between;
					&_price {
							color: #34404b;
							font-size: 20px;
							font-weight: 900;
							margin-right:30%;
							
							margin-top:10px;
				  }
					&_icon-share{
							width: 19px;
							height: 19px;
					
							margin-right:20px;
							margin-top:10px;
							background: url(../../images/icon-share.svg) center center no-repeat;
				  }
					&_icon-add{
							width: 22px;
							height: 19px;
							margin-right:20px;
							margin-top:10px;
							background: url(../../images/add.svg) center center no-repeat;
				  }
					&_icon-like{
							width: 19px;
							height: 21px;
							margin-right:25px;
							margin-top:10px;
							background: url(../../images/like.svg) center center no-repeat;
				  }
					&_button{
							background-color: #ff5912;
							width: 134px;
							height: 49px;
							color: #ffffff;
							font-size: 18px;
							border-radius:40px;
							border:0;
							margin-left:20px;
							vertical-align: center;
							&:hover{
									background-color: grey;
									transition: background-color 1000ms linear;
									box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
						  }
				  }
		  }
  }
	&-item1{
		
			padding-left:5%;
			position: relative;
			height: 400px;
			overflow: hidden;
			margin: 0 auto;
			margin-top:150px;
			margin-right:20px;
  }
}
.product-card-item1 a {
	float: left;
	margin: 20px;
}
.big {
	position: absolute;
	top: 260px;
	left: 20px;
	width: 120px;
	height: 200px;
}


.thumb{
	width: 95px;
	height: 69px;
	margin-top:250px;
}
button:focus {
	outline:none;

}
button:hover{
	cursor: pointer;
}


a.big {
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
}
