.product-card
	.product-card-item1
		
		
		a(href='#')
			img.big(src='images/slider2.jpg')
			img.thumb(src='images/slider-3.svg')
		a(href='#')
			img.big(src='images/slider3.jpg')
			img.thumb(src='images/slider-2.svg')
		a(href='#')
			img.big(src='images/slider-1.jpg')
			img.thumb(src='images/slide-1.svg')

	.product-card-item2
		.product-card-item2__header full winter kit
		.product-card-item2__name-product Half Jacket + Skiny Trousers + Boot leather
		.product-card-item2__description Lorem ipsum is simply dummy text of the printing and typesetting industry
		.product-card-item2__description2 Lorem ipsum is simply dummy text of the printing and typesetting industry
		
		hr.product-card-item2__hr

		.product-card-item2__information
			.product-card-item2__information_text Choose Size
			button.product-card-item2__information_button S 
			.product-card-item2__information_text -
			button.product-card-item2__information_button M
			.product-card-item2__information_text -
			button.product-card-item2__information_button L
			.product-card-item2__information_text -
			button.product-card-item2__information_button XL
			.product-card-item2__information_choose Choose Quanity
			button#plus.product-card-item2__information_button +
			.product-card-item2__information_number 3
			button#minus.product-card-item2__information_button -

		hr.product-card-item2__hr
		.product-card-item2__information2
			.product-card-item2__information2_price Price : 120$
			a(href='javascript:void(0)').product-card-item2__information2_icon-share
			a(href='javascript:void(0)').product-card-item2__information2_icon-add
			a(href='javascript:void(0)').product-card-item2__information2_icon-like
			button.product-card-item2__information2_button Order Now



