.footer
	.footer-item1
		img(class="footer-item1__message" alt="logo" src="images/message.svg")
		.footer-item1__address-email info@shopy.com
		img(class="footer-item1__phone" alt="logo" src="images/phone.svg")
		.footer-item1__address-number 4535553996
		

	.footer-item2
		a(class="footer-item2__icons-face" href="https://uk-ua.facebook.com/")
		a(class="footer-item2__icons-twitter" href="https://twitter.com/")
		a(class="footer-item2__icons-google" href="https://www.google.com/")
		a(class="footer-item2__icons-instagram" href="https://www.instagram.com/")
