doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Shopy
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700")
    link(rel='stylesheet', href='./css/all.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  
  

  body
    include componets/footer/footer.pug
    include componets/header/header.pug
    include componets/product-card/product-card.pug

    script(src="js/main.js")

   


